.itconfig/
.env
client/nksp.loc
client/Bin/CefSubprocess.exe
client/Bin/CEF-LICENSE.txt
client/Bin/chrome_*.pak
client/Bin/chrome_elf.dll
client/Bin/d3dcompiler_47.dll
client/Bin/dxcompiler.dll
client/Bin/dxil.dll
client/Bin/icudtl.dat
client/Bin/libcef.dll
client/Bin/libEGL.dll
client/Bin/libGLESv2.dll
client/Bin/locales/
client/Bin/resources.pak
client/Bin/v8_context_snapshot.bin
client/Bin/vk_swiftshader.dll
client/Bin/vk_swiftshader_icd.json
client/Bin/vulkan-1.dll
client/Data/etc/ps.dat.bak
client/Local/**/*.lod.original
client/src/Bin/
.vs/
**/.vs/
**/Debug/
**/Release/
**/x64/
**/Win32/
**/*.aps
**/*.idb
**/*.ilk
**/*.ipch
**/*.lastbuildstate
**/*.log
**/*.obj
**/*.pch
**/*.pdb
**/*.tlog
**/__pycache__/
**/*.pyc
server/src/**/*.o
server/src/CalcHash/CalcHash
server/src/Connector/Connector
server/src/GameServer/GameServer_d
server/src/Helper/Helper
server/src/LoginServer/LoginServer
server/src/Messenger/Messenger
server/src/ShareLib/libSharelib.a
server/src/SubHelper/SubHelper
